* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
  min-height: 100vh;
  padding: 2em 10vw;
  background-color: #333;
  color: #eee;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

textarea {
  height: 20rem;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
}

textarea:disabled {
  cursor: not-allowed;
}

p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

button {
  display: block;
  padding: 1em 2em;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  margin: 0.5em auto;
  cursor: pointer;
}

button:disabled {
  border: 1px solid #ddd;
  cursor: not-allowed;
}

.correct {
  color: #8cff3f;
}

.incorrect {
  color: rgb(221, 74, 74);
  text-decoration: underline;
}

.set-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  margin-left: 1em;
}

.btn-container button {
  margin-right: 1em;
  padding: 0.1em 0.8em;
  margin-top: 0;
  background-color: #eee;
  font-family: inherit;
  transition: all 0.3s ease;
}

.btn-container button:hover,
.btn-container button:active,
.btn-container button:focus {
  background-color: #2561d1;
  color: #fff;
}
